configuration {
	modes: "drun";
	font: "Terminus 12";
	location: 0;
	fixed-num-lines: true;
	show-icons: true;
	terminal: "sakura";
	icon-theme: "Papirus-Dark";
	drun-match-fields: "name,generic,exec,categories,keywords";
	case-sensitive: false;
	cycle: true;
	threads: 2;
	scroll-method: 1;
	click-to-exit: false;
	display-drun: "Aplicativos";
}

@theme "default.rasi"
